/* colors:
yellow: #faed26
light purple: #9D8D8F;
medium purple: #5a5560;
dark purple: #46344e; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to bottom, rgba(157,141,143, 0.85) ,rgba(90,85,96, 1)),
    url('images/background.jpg');
    background-color:	#5a5560;
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   
    font-size: 15px;
    color: white;
    background-color: transparent;
}

/* Navigation */
.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8ff;
  width: 300px;
  height: 100%;
  position: absolute;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;  
    background-color: transparent;
}

.link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #46344e;
}

.link-home {
  display: none;
}

.link-name {
    justify-self: flex-start;
    margin: 20px 20px;
    color: #faed26;
    font-weight: bold;
    text-decoration: none;
}

/* Nav Btn */
.nav-btn-container {
  display: none;
  cursor: pointer;
  margin-top: 20px;
}

.nav-btn-container-toggle {
  margin-left: 230px;
  margin-top: 20px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 15px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.content {
    align-self: center;
    justify-self: center;
}

/* Home */
.content-container {
    min-height: 88vh;
    color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 88vh;
}

.main-title {
    color: #faed26;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 140px;
    overflow: hidden;

    animation: moveRight 1s ease-out;
  }
  
  @keyframes moveRight {
    0% {
    opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
        opacity: 1;
      transform: translate(0);
    }
  } 

.main-paragraph {
    font-size: 2vh;
    font-weight: bold;
    overflow: hidden;
    animation: moveToLeft 1s ease-out;
  }
  
  @keyframes moveToLeft {
    0% {
    opacity: 0;
      transform: translateX(100px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
        opacity: 1;
      transform: translate(0);
    }
  } 
  
  .btn:link,
  .btn:visited {
    margin-top: 40px;
    padding: 18px;
    width: 200px;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #9D8D8F;
    background-color: #46344e;
    border: none;
    display: inline-block;
    border: none;
    border-radius: 100px;
    display: inline-block;

    transition: all .2s;

    animation: moveUp 1.5s ease-out;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:hover {
    color: #faed26;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* Pages */
.page-title {
    color: #faed26;
    font-family: 'Staatliches', cursive;
    font-size: 120px;
    margin-bottom: 5vh;
}

/* Contact */
.contact-title {
  color: #faed26;
  font-family: 'Staatliches', cursive;
  font-size: 120px;
  margin-bottom: 5vh;
  margin-top: 100px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-icon-box {
  cursor: pointer;
}

.email-icon-box,
.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
    width: 250px;
    height: 300px;
    background-color: #5a5560;
    border-radius: 10px;

    transition: box-shadow .2s;
}

.email-icon-box:hover,
.icon-box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  transform: translateY(-3px);
}

.email-icon-box:active,
.icon-box:active {
  transform: translateY(-1px);
}

.email-icon-box:hover .icon,
.icon-box:hover .icon {
  display: none;
}

.icon-name {
  display: none;
  text-transform: uppercase;
  color: #faed26;
  font-weight: bold;
  font-size: 4vh;
  text-decoration: none;
}

.email-icon-box:hover .icon-name,
.icon-box:hover .icon-name {
  display: block;
  animation: appear .3s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
    font-size: 4vh;
  }
  80% {
    font-size: 4.2vh;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT */
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.about-column-container{
  width: 500px;
  margin: 0px 20px;
  background-color: #5a5560;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.about-column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-text {
  font-size: 17px;
  margin: 8px 0;
}

.avatar {
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: black solid 5px;
  transition: box-shadow .2s;
}

.avatar:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  transform: translateY(-1px);
}

.secondaty-title {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
}

.charts {
  align-self: flex-start;
  width: 400px;
}

@media (max-width: 1100px) {
  .about-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-column-container{
    margin: 20px 20px;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
  .link-name {
    display: none;
  }
  .link-home {
    display: inline;
    text-decoration: none;
  }
  .link,
  .link-home {
    background-color: #f8f8ff;
    color: #46344e;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 20px;
    padding: 18px;
    width: 250px;

    transition: transform .2s;
  }
  .link:hover,
  .link-home:hover {
    color: #5a5560;
    transform: translateY(-3px);
  }
  .link:active,
  .link-home:active {
    transform: translateY(-1px);
  }
  .nav-btn-container {
    display: inline-block;
  }
  .footer {
    display: none;
  }
  .content {
    max-width: 800px;
    padding-top: 0vh;
    justify-content: center;
    align-items: flex-start;
  }
  .content-container {
    padding: 2vh 2vh;
  }
  .main-title {
    font-size: 120px;
  }
  .page-title {
    margin-bottom: 2vh;
    margin-left: 30px;
  }
  .contact-title {
    margin-top: 0;
    margin-bottom: 2vh;
  }
  .icons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .email-icon-box,
  .icon-box {
    margin: 10px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
}